<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>

        <ion-title>
            <h1>{{ 'core.login.connecttomoodle' | translate }}</h1>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="openSettings()" [ariaLabel]="'core.settings.appsettings' | translate">
                <ion-icon slot="icon-only" name="fas-gear" aria-hidden="true" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div class="list-item-limited-width">
        <div class="ion-text-center ion-padding ion-margin-bottom core-login-site-logo" [class.hidden]="hasSites || enteredSiteUrl">
            <img src="assets/img/savvy_connect_logo.png" class="connect-brand-logo" [alt]="'core.login.logoof' | translate: { $a: appName }">
        </div>
        @if (schoolSites?.length) {
            <ion-list class="school-selection-list">
                <ion-item lines="none" class="school-selection-list-title">
                    <ion-label>
                        <h2 class="item-heading">{{ 'core.login.selectsite' | translate }}</h2>
                    </ion-label>
                </ion-item>

                <ng-container *ngFor="let school of schoolSites">
                    <ion-item button (click)="connect(school.url, $event)"
                        [disabled]="!school.url" class="school-selection-item" detail="false">
                        <ion-label class="school-selection-label">
                            <h2 class="school-selection-name">{{ school.name }}</h2>
                            <p class="school-selection-url">{{ school.url || 'URL not provided' }}</p>
                        </ion-label>
                    </ion-item>
                </ng-container>
            </ion-list>
        }

        @if (fixedSites) {

            <!-- Pick the site from a list of fixed sites. -->
            @if (siteSelector === 'list') {
                <ion-list>
                    <ion-item>
                        <ion-label>
                            <h2 class="item-heading">{{ 'core.login.selectsite' | translate }}</h2>
                        </ion-label>
                    </ion-item>
                    @if (fixedSites.length > 4) {
                        <ion-searchbar [(ngModel)]="filter" (ionInput)="filterChanged($event)" (ionCancel)="filterChanged()"
                            [placeholder]="'core.login.findyoursite' | translate" />
                    }
                    <ng-container *ngFor="let site of filteredSites">
                        <ng-container *ngTemplateOutlet="sitelisting; context: {site: site}" />
                    </ng-container>
                </ion-list>
            }

        }

        @if (showScanQR && !hasSites && !enteredSiteUrl) {

            <div class="ion-text-center ion-padding ion-margin-top core-login-site-qrcode-separator">{{ 'core.login.or' | translate }}
            </div>
            <ion-button expand="block" fill="outline" class="ion-margin core-login-site-qrcode" (click)="showInstructionsAndScanQR()"
                aria-haspopup="dialog">
                <ion-icon slot="start" name="fas-qrcode" aria-hidden="true" />
                {{ 'core.scanqr' | translate }}
            </ion-button>

        }

        <!-- Help. -->
        <ion-button class="ion-margin-top core-login-need-help core-button-as-link ion-text-wrap" (click)="showHelp()"
            aria-haspopup="dialog" expand="block" fill="clear">
            {{ 'core.needhelp' | translate }}
        </ion-button>
    </div>
</ion-content>

<!-- Template site selector. -->
<ng-template #sitelisting let-site="site">
    <ion-item button (click)="connect(site.url, $event)" [class]="site.className" [attr.aria-label]="site.name" [detail]="true">
        @if (siteFinderSettings.displayimage) {
            <ion-thumbnail slot="start">
                @if (site.imageurl) {
                    <img [url]="site.imageurl" core-external-content onError="this.src='assets/icon/icon.png'" alt="" role="presentation">
                }
                @if (!site.imageurl) {
                    <img src="assets/icon/icon.png" class="core-login-default-icon" alt="" role="presentation">
                }
            </ion-thumbnail>
        }
        <ion-label>
            @if (site.title) {
                <p class="item-heading ion-text-wrap">{{site.title}}</p>
            }
            @if (displaySiteUrl(site.url)) {
                <p>{{site.noProtocolUrl}}</p>
            }
            @if (site.location) {
                <p>{{site.location}}</p>
            }
        </ion-label>
    </ion-item>
</ng-template>
